input {
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 30px;
}

.cont-form label {
    color: rgba(220, 0, 0, 1);
    font-weight: bold;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: .7;
    /* Firefox */
}