body {
    padding: 40px;
}

.cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr 2fr;
    height: 1080px;
    width: 1080px;
    outline: solid #ccc;
}

.item {
    /* border: 1px solid; */
    display: grid;
    justify-items: center;
    position: relative;
    overflow: hidden;
}

img {
    height: 100%;
    position: absolute;
}

.front {
    grid-column: 1/2;
    grid-row: 2/4;
}

.back {
    grid-column: 2/3;
    grid-row: 1/3;
}

.logo {
    grid-column: 1/2;
    grid-row: 1/2;
}

.price {
    grid-column: 2/3;
    grid-row: 3/4;

}

.logo img {
    /* height: 130%; */
    /* top: -14%; */
}

.price__old {
    font-size: 400%;
    text-decoration: line-through;
    color: black;
    /* line-height: 0; */
    font-weight: bold;
}

.price__new {
    line-height: 70%;
    font-size: 400%;
    color: red;
    font-weight: bold;
}