.cont.cont_third {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    width: auto;
    margin-right: 20px;
}

.cont_third>.item {
    /* outline: solid; */
}

.cont_third>img {
    /* width: 100%; */
    /* height: auto; */
}

.cont_third>.logo {
    grid-column: 1/2;
    grid-row: 1/2;
    /* z-index: 20; */
}

.cont_third>.front {
    grid-column: 1/2;
    grid-row: 2/13;
    /* z-index: 10; */
}

.cont_third>.side {
    grid-column: 2/3;
    grid-row: 1/6;
    /* z-index: 15; */
}

.cont_third>.back {
    grid-column: 2/3;
    grid-row: 6/13;
    /* z-index: 10; */
}

.cont_third>.price {
    grid-column: 1/2;
    grid-row: 2/3;
    /* z-index: 20; */
}


.cont_third>.price {
    text-shadow: -.5px -.5px 0 #fff, .5px -.5px 0 #fff, -.5px .5px 0 #fff, 1px .5px 0 #fff;
}